:root {
    --light-color: #ffffff;
    --light-color-2: rgba(255, 255, 255, 0.02);
    --dark-color: #161926;

    --dark-text-color: #262a3f;
    --dark-text-color-80: rgba(38, 42, 63, 0.8);
    --dark-text-color-60: rgba(38, 42, 63, 0.6);
    --dark-text-color-50: rgba(38, 42, 63, 0.5);
    --light-text-color: #ffffff;
    --light-text-color-90: rgba(255, 255, 255, 0.9);
    --light-text-color-80: rgba(255, 255, 255, 0.8);
    --light-text-color-60: rgba(255, 255, 255, 0.6);
    --light-text-color-50: rgba(255, 255, 255, 0.5);

    --accent-color-light-bg: #f1897b;
    --accent-color-light-bg-30: rgba(241, 137, 123, 0.3);
    --accent-hover-color-light-bg: #e54f3a;
    --accent-hover-color-light-bg-30: rgba(229, 79, 58, 0.3);
    --accent-color-dark-bg: #53f3cd;
    --accent-color-dark-bg-30: rgba(83, 243, 205, 0.3);
    --accent-hover-color-dark-bg: #02e0ab;
    --accent-hover-color-dark-bg-30: rgba(2, 224, 171, 0.3);

    --primary-color-light-bg: #85bbb1;
    --primary-color-dark-bg: #689ff2;

    --gray-light-color: #e4e4e4;
    --gray-dark-color: #515773;
    --dark-color-10: rgba(38, 42, 63, 0.1);

    --icon-color-light-bg: #262a3f;
    --icon-color-light-bg-30: rgba(88, 98, 145, 0.3);
    --icon-color-dark-bg: #689ff2;
    --icon-color-dark-bg-30: rgba(104, 159, 242, 0.3);
}
