:root {
    --light-color: #ffffff;
    --dark-color: #161926;

    --dark-text-color: #262A3F;
    --dark-text-color-80: rgba(38, 42, 63, 0.8);
    --dark-text-color-60: rgba(38, 42, 63, 0.6);
    --dark-text-color-50: rgba(38, 42, 63, 0.5);
    --light-text-color: #ffffff;
    --light-text-color-80: rgba(255, 255, 255, 0.8);
    --light-text-color-60: rgba(255, 255, 255, 0.6);
    --light-text-color-50: rgba(255, 255, 255, 0.5);

    --accent-color-light-bg: #F1897B;
    --accent-color-light-bg-30: rgba(241, 137, 123, 0.3);
    --accent-color-dark-bg: #53F3CD;
    --accent-color-dark-bg-30: rgba(83, 243, 205, 0.3);

    --primary-color-light-bg: #85BBB1;
    --primary-color-dark-bg: #689FF2;
    
    --gray-light-color: #E4E4E4;
    --gray-dark-color: #515773;
    --dark-color-10: rgba(38, 42, 63, 0.1);

    --icon-color-light-bg: #262A3F;
    --icon-color-light-bg-30: rgba(88, 98, 145, 0.3);
    --icon-color-dark-bg: #689FF2;
    --icon-color-dark-bg-30: rgba(104, 159, 242, 0.3);
}