.button {
    width: 122px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--accent-color-light-bg);
    font-size: 20px;
    background: none;
    border: none;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        left: 20px;
        top: 10px;
        width: 112px;
        height: 13px;
        background-color: var(--accent-color-light-bg-30);
        z-index: 2;
    }

    &:hover {
        color: var(--accent-hover-color-light-bg);
        &::before {
            background-color: var(--accent-hover-color-light-bg-30);
        }
    }
}
