.form {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 470px;

    &__input {
        height: 32px;
        padding-bottom: 12px;
        border: none;
        border-bottom: 1px solid var(--dark-color-10);
        width: 100%;
        background-color: transparent;
        color: var(--dark-text-color);
        font-size: 18px;
        line-height: 1.2;

        &::placeholder {
            font-size: 18px;
            line-height: 1.2;
            color: var(--dark-text-color-50);
        }

        &:focus {
            outline: none;
            border-bottom: 1px solid var(--primary-color-light-bg);
        }
    }

    &__button {
        width: 165px;

        &::after {
            width: 163px;
            left: 10px;
        }
    }
}
