body {
    margin: 0 auto;
    color: var(--dark-text-color-80);
    background-color: var(--light-color);
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.4;
}