.benefits{
    padding-top: 120px;
    padding-bottom: 0;

    &__list{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;

        &--item{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;
            padding: 30px 0;
            border-top: 1px solid var(--gray-light-color);
        }

        &--text{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;
            padding: 20px 35px;
        }

        &--title{
            font-size: 40px;
            line-height: 1.2;

            & span{
                color: var(--primary-color-light-bg);
            }
        }
    }
}