.footer {
    padding-top: 100px;
    padding-bottom: 100px;

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 30px;
        padding-bottom: 30px;
        font-size: 14px;
        line-height: 1.7;
        border-top: 1px solid var(--gray-light-color);
        color: var(--dark-text-color-60);

        &--info {
            display: flex;
            gap: 12px;

            &--link {
                color: var(--dark-text-color);
                font-weight: 400;

                &:hover {
                    color: var(--accent-color-light-bg);
                    text-decoration: underline;
                    text-underline-offset: 4px;
                }
            }
        }

        &--links {
            display: flex;
            gap: 32px;
        }
    }
}
