.header{
    background: linear-gradient(270deg, #ffffff 0%, rgba(255, 255, 255, 0.49) 51%, rgba(255,255,255,0) 100%), var(--light-color-2);
    opacity: 0.5; 
    margin-top: 30px;
    position: fixed;
    width: 100%;
    padding: 24px 0;
    z-index: 1;

    &__container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo{
        width: 108px;
        height: 32px;
    }

    &__nav{
        &--list{
            display: flex;
            gap: 30px;
            font-weight: 400;
            font-size: 14px;
            color: var(--dark-text-color);
        }

        &--link{
            position: relative;
            text-decoration: none;
            padding-bottom: 2px;

            &::after{
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0;
                height: 2px;
                background-color: var(--accent-color-light-bg);
                transition: width 0.3s ease;
            }

            &:hover::after{
                width: 100%;
        }}
    }

        
    }
