.hero {
    position: relative;
    background-image: url("../images/bg-img/hero-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 1030px;
    overflow: hidden;
    padding: 0;

    &::after {
        content: "";
        position: absolute;
        top: 500px;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(
            180deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 1) 100%
        );
        clip-path: polygon(
            0 0,
            /* верхній лівий */ 100% 0,
            /* верхній правий */ 100% 75%,
            /* нижній правий (трохи вище дна) */ 5% 100%
                /* нижній лівий (зрушений вліво) */
        );
        pointer-events: none;
    }

    &__container {
        display: flex;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 50px;
        width: 525px;
        margin-top: 260px;

        &--text {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        &--title {
            font-family: "Playfair Display", serif;
            font-weight: 400;
            font-size: 44px;
            // color: var(--dark-text-color);

            & span {
                color: var(--primary-color-light-bg);
            }
        }
    }
}
