.info{
    padding: 0;
    margin-top: -280px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 10;

    &__container{
        display: flex;
        align-items: center;
    }

    &__image{
        position: relative;
        height: 100%;

        & img{
            width: 570px;
            height: 670px;
        }

        &--bg{
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            width: 570px;
            height: 100%;
            background: linear-gradient(0deg, rgba(33, 36, 54, 1) 0%, rgba(33, 36, 54, 0) 100%);
        }
    }

    &__content{
        display: flex;
        padding: 45px 0;
        background-color: var(--light-text-color-90);
        margin-left: -170px;
        z-index: 2;

        &--text{
            display: flex;
            flex-direction: column;
            gap: 50px;
            width: 400px;

            &--description{
                display: flex;
                flex-direction: column;
                gap: 40px;
            }
        }

        &--button{
            width: 175px;

            &::after{
                width: 172px;
            }
        }
    }

    &__list{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        padding: 0 56px;

        &--item{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 12px;
            justify-content:center;

            &--price{
                display: flex;
                gap: 10px;
                align-items: flex-end;
            }

            &--color{
                color: var(--gray-light-color);
                font-size: 40px;
                line-height: 1.25;
            }

            &--number{
                font-size: 68px;
                line-height: 1.05;

            }
        }

        &--line{
            width: 100px;
            height: 1px;
            background-color: var(--primary-color-light-bg);
        }
    }
}