.promises {
    padding-top: 120px;
    padding-bottom: 0;

    &__container {
        display: flex;
        align-items: center;
        gap: 50px;
    }

    &__image {
        position: relative;
        min-width: 600px;
        height: 100%;

        & img {
            width: 600px;
            height: 540px;
        }

        &--bg {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            width: 600px;
            height: 100%;
            background: rgba(25, 28, 41, 0.84);
        }
    }

    &__content {
        position: relative;
        padding: 75px 0;
        width: 770px;
        height: 450px;
        background-color: var(--light-text-color-90);
        z-index: 2;
        margin-left: -200px;

        &--list {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 70px 100px;
            margin-left: 70px;
            width: 700px;
            height: 300px;
        }

        &--item {
            display: flex;
            flex-direction: column;
            gap: 15px;

            &--title {
                font-size: 24px;
                line-height: 2;
                color: var(--dark-text-color);
            }
        }

        &--button {
            position: relative;
            width: 300px;
            height: 90px;
            border: 1px solid var(--gray-light-color);
            background-color: transparent;

            &--position {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        &--button-position {
            position: absolute;
            bottom: 80px;
            right: 0;
        }
    }
}
