.quote {
    padding-top: 120px;
    padding-bottom: 0;

    &__container {
        padding: 100px 135px;
    }

    &__content {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 40px;
        background: linear-gradient(
                rgba(25, 28, 41, 0.84),
                rgba(25, 28, 41, 0.84)
            ),
            url("../images/bg-img/quote-bg.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: 100px 160px;
        color: var(--light-text-color);

        &--icon {
            position: absolute;
            top: 70px;
            left: 100px;
            width: 102px;
            height: 84px;
        }

        &--text {
            display: flex;
            flex-direction: column;
            gap: 40px;
            color: var(--light-text-color);
            width: 700px;
            font-size: 32px;
            line-height: 1.45;

            &--author {
                font-size: 20px;
            }
        }
    }
}
