.reviews {
    padding-top: 120px;
    padding-bottom: 0;

    &__container {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 400px;

        &--title {
            font-size: 40px;
            line-height: 1.2;

            & span {
                color: var(--primary-color-light-bg);
            }
        }
    }

    &__list {
        display: flex;
        gap: 30px;

        &--item {
            display: flex;
            flex-direction: column;
            gap: 26px;
            width: 370px;
            padding: 30px 40px;
            background: linear-gradient(
                    rgba(25, 28, 41, 0.6),
                    rgba(25, 28, 41, 0.6)
                ),
                url("../../images/reviews/image1.png");

            &--text {
                font-size: 16px;
                line-height: 1.6;
                color: var(--light-text-color-80);
            }

            &--name {
                font-size: 20px;
                line-height: 1;
                color: var(--light-text-color);
            }
        }

        &--item:nth-child(2) {
            background: linear-gradient(
                    rgba(25, 28, 41, 0.6),
                    rgba(25, 28, 41, 0.6)
                ),
                url("../../images/reviews/image2.png");
        }

        &--item:nth-child(3) {
            background: linear-gradient(
                    rgba(25, 28, 41, 0.6),
                    rgba(25, 28, 41, 0.6)
                ),
                url("../../images/reviews/image3.png");
        }
    }
}
