.video {
    padding-top: 120px;
    padding-bottom: 0;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    &__wrapper {
        width: 970px;
        padding: 30px 0;
        display: flex;
        align-items: center;
        border: 1px solid var(--gray-light-color);
        border-radius: 32px;
        background-color: transparent;

        &--circle-min {
            width: 13px;
            height: 13px;
            border-radius: 50%;
            border: 1px solid var(--gray-light-color);
            margin-left: 8px;
        }

        &--circle-max {
            width: 35px;
            height: 35px;
            border-radius: 50%;
            border: 1px solid var(--gray-light-color);
            margin-left: 21px;
        }
    }

    &__image {
        position: relative;
        width: 870px;
        height: 100%;
        margin-left: 9px;

        & img {
            width: 100%;
            height: 100%;
        }

        &--btn {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 120px;
            height: 120px;
            border-radius: 50%;
            background-color: var(--icon-color-light-bg-30);
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--dark-text-color);
        }

        &--icon {
            width: 120px;
            height: 120px;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 970px;

        &--title {
            font-size: 40px;
            line-height: 1.2;

            & span {
                color: var(--primary-color-light-bg);
            }
        }
    }
}
